<h1>Edit Task</h1>


<%= form_for @task do |f| %>

	<%= f.label :task_name %>
	<%= f.text_field :task_name %>

	<%= f.label :status %>
	<%= f.text_field :status %>

	<%= f.label :user_id %>
	<%= f.text_field :user_id %>

	<%= f.label :description %>
	<%= f.text_field :description %>

	<%= f.submit %>

<% end %>

