<h1>Tasks</h1>

<% if current_user %>

	<% current_user.tasks.each do |t| %>
  
    <p><%= link_to(t.task_name, task_path(t.id))  %></p>

	<% end %>
  
<% else %>

  <p><%= "No Tasks" %></p>  
  
<% end %>


<%= link_to("Create Category", add_category_path) %>
<% if current_user %>

  <%= current_user.categories.each do |c| %>
    <p>
      <%= c.name %>
    </p>
  <% end %>  
<% end %>