<h2>Tasks</h2>

<% if current_user %>

	<% current_user.projects.each do |t| %>
  
    <p><%= link_to(t.title, projects_path(t.id))  %></p>

	<% end %>
  
<% else %>

  <p><%= "No Tasks" %></p>  
  
<% end %>


<%= link_to("Create Category", add_category_path) %>
<% if current_user %>

  <%= current_user.categories.each do |c| %>
    <p>
      <%= c.name %>
    </p>
  <% end %>  
<% end %>