<div id="subhead">
	<h2><%= current_user.username.capitalize %>'s Tasks</h2>
</div>

<div id="feature">


<% if current_user %>


<ul class="sortable">
	<% current_user.tasks.each do |t| %>
  
  
  
    <li><%= link_to(t.task_name, task_path(t.id))  %></li>
	<!-- <p>Category:<%# t.category %>, Project:<%# t.project %>, <%# t.status %></p> -->
  

<% end %>
</ul>
<script src="jquery.sortable.min.js"></script>
<script>
    $('.sortable').sortable();
</script>
	
  
<% else %>

  <p><%= "No Tasks" %></p>  
  
<% end %>

<%= link_to("New Task", new_task_path) %>
<%= link_to("Create Category", add_category_path) %>

</div>