<h1>New Task</h1>


<%= form_for @task do |f| %>

	<%= f.label :task_name %>
	<%= f.text_field :task_name %>

	<%= f.label :status %>
	<%= f.text_field :status %>

<<<<<<< HEAD
  <%= f.label :email %>
  <%= f.text_field :email %>

=======
>>>>>>> aca98c8700933cfdd62e4442eb3dd66efa8b5178
	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.submit %>

<% end %>

