<div id= 'leftColumn'>
</div>

<div id = 'feature'>
<h2>New Task</h2>


<%= form_for @task do |f| %>
<p>
	<%= f.text_field :task_name, :placeholder => "Task Name"  %>
<p>

	<%= f.text_field :status, :placeholder => "Status"  %>
<p>
 
  <%= f.text_field :email, :placeholder => "Email"  %>
<p>

	<%= f.text_area :description, :placeholder => "Description"  %>
<p>
	<%= select_tag 'project_id', options_for_select(@projects.map{|project| ["#{project.title}", project.id] }. insert(0, "Select a Service")) %>
	<%= select_tag 'category_id', options_for_select(@categories.map{|category| ["#{category.name}", category.id] }. insert(0, "Select a Service"))%>
<p>
	<%= f.submit "Make Task", :class => 'submit' %>

<% end %>
</div>
