<h2><%= @task.task_name %></h2>
<p>Task Category: 
  <% if @task.category.nil? %>
    <%= "No category assigned" %>
  <% else %>
    <%= @task.category.name %>
  <% end %>
</p>
<p>Status: <%= @task.status %></p>
<p>Email Sent To: <%= @task.email %></p>
<p>Description: <%= @task.description %></p>
<p>Project Title: 
  <% if @task.project.nil? %>
    <%= "No project assigned" %>
  <% else %>
    <%= @task.project.title %>
  <% end %>
</p>


<%= link_to "Edit this Task", edit_task_path(@task.id) %>
<%= link_to "Create new category", add_category_path %>



<h3>Leave a Comment</h3>

<%= form_for @comment, :url => create_comment_path(@task.id) do |c| %>
  <%= c.label :content %>
  <%= c.text_area :content %>
  
  <%= c.submit %>
<% end %>


<% @user_comments.each do |u| %>
  <p><%= u.content %></p>
<% end %>
