<h1>New User</h1>

<<<<<<< HEAD
<%= form_for @user :url => create_user_path do |u| %>
=======
<%= form_for @user, :url => create_user_path do |u| %>
>>>>>>> a1d3547a71210ec63384b63121ca1ef43a4affbe

  <p>
    <%= u.label :email %>
    <%= u.text_field :email %>
  </p>
  <p>  
    <%= u.label :password %>
    <%= u.password_field :password %>
  </p>
  <p>
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation %>
  </p>
  <p>
    <%= u.submit %>
  </p>
  
<% end %>  