<div id= 'leftColumn'>
  <ul>
  <li><%= link_to("New Task", new_task_path) %></li>
  <li><%= link_to("Create Category", add_category_path) %></li>
	<li><%= link_to "Tasks", tasks_path %></li>
	<li><%= link_to "Projects", projects_path %></li>
  
  <ul>
</div>

<div id="feature">
  
<h2><%= current_user.username.capitalize %>'s Projects</h2>
<% if @projects.nil? %>

  <p><%= "No Projects" %></p>
  
<% else %>

	<% @projects.each do |p| %>
  <ul>
    <li><%= link_to(p.title, project_path(p.title))  %></li>
</ul>
	<% end %>
  
<% end %>

<p>
<%= link_to("Create New Project", new_project_path) %>
</p>
</div>