<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div id="container">

<body>
	
	<h1>Skittle Monkey Task Manager</h1>
	
	<header>
	    <% if flash[:notice] %>
	      <p id="notice"><%= flash[:notice] %></p>
	    <% end %>
	    <% if flash[:alert] %>
	      <p id="alert"><%= flash[:alert] %></p>
	    <% end %>
		
		<div id="login">
			<% if current_user %>
			<p><%= current_user.username %> (<%= link_to "Log out!", logout_path %>)</p>
			<% else %>
			<p><%= link_to("Log In", login_path) %></p>
			<% end %>
		</div>
	</header>
	
	<nav>
		<ul>
			<li><%= link_to "Tasks", tasks_path %></li>
			<li><%= link_to "New Task", new_task_path %></li>
			<li><%= link_to("Signup", signup_path) %></li>
		</ul>
	</nav>	
	
	<div id="content">
		<div class="subtitle">
			<article>
			</article>
		</div>
	</div>
<%= yield %>
	</div>
</body>
</html>
