<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Syncopate:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	
  	<div id="logo">
      <h1 id = "headlogo">Skittle Monkey Task Manager</h1>
      <h1>Skittle Monkey Task Manager</h1>
      
        <div id="nav">	
      		<ul>
      			<li>Home</li>
        		<li>About</li>
      			<li>Contact</li>
				<% if current_user == nil%>
		  	  		<li><%= link_to("Signup", signup_path) %></li>
				<% else %>
					<li><%= link_to("Log Out", logout_path)%></li>
				<% end%>
      		</ul>
       </div>
   	</div>
	
<<<<<<< HEAD
=======
      	<ul>
      	<li><%= link_to("Signup", signup_path) %></li>
        <li>About</li>
      		<li><%= link_to("Signup", signup_path) %></li>
          <li>Contact</li>
      	</ul>
      </div>
      
  	</div>
	
	<header>
  
    
	    <!-- <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert] %></p>
      <% end %> -->
		
	  <div id="login">
      <% if current_user %>
      <p><%= current_user.username %> (<%= link_to "Log out!", logout_path %>)</p>
      <% else %>
      <p><%= link_to("Log In", login_path) %></p>
      <% end %>
    </div>
	</header>
  
  

	<div id="content">

	</div>
>>>>>>> b0b2dd2c3f425dbaab5c6c0ac3cb9885dd275b9a
<%= yield %>

</body>
</html>
