<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header>
	<div id="name">
		<p><%= link_to "Tasks", tasks_path %></p>
		<p><%= link_to "New Task", new_task_path %></p>
		<p><%= link_to "Projects", projects_path %></p>
		<p><%= link_to "New Project", new_project_path %></p>
	</div>
</header>

<body>
	<div id="preheader">
		<% if current_user %>
		<%= current_user.username %> (<%= link_to "Log out!", logout_path %>)
		<% else %>
		<%= link_to("Log In", login_path) %>
		<% end %>
	</div>
<%= link_to("Signup", signup_path) %>

<%= yield %>

</body>
</html>
